@media (max-width: 1439px) {
    .container {
        max-width: 1170px;
    }
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
    .sidepanel {
        display: none;
    }
    .grid-container {
        grid-template: minmax(245px,auto) minmax(255px,auto)/380px 530px;
        column-gap: 40px;
    }
    .aboutMe {
        //padding-top: 100px;
        &__skills {
            column-gap: 20px;
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
        }
        &__items {
            grid-template-columns: 40px 195px;
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2,350px);
            column-gap: 100px;
        }
    }
    .skills {
        &__content {
            grid-template-columns: repeat(3,305px);
            grid-auto-rows: minmax(305px,auto);
        }
        &__wrapper {
            grid-template-columns: repeat(3,290px);
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
        
    }
    .grid-container {
        grid-template: minmax(245px,auto) minmax(255px,auto)/300px 380px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }
    .aboutMe {
        margin-bottom: 40px;
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px,auto);
        }
        &__items {
            grid-template-columns: 45px 315px;
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2,325px);
            column-gap: 30px;
        }
        &__content {
            margin: 60px 23px 60px 16px;
        }
        &__head {
            padding-left: 30px;
            &:after {
                width: 31px;
            }
        }
    }
    .skills {
        &__content {
            grid-template-columns: repeat(2,305px);
            gap: 50px;
            padding: 60px 35px 120px 30px;
        }
        &__wrapper {
            grid-template-columns: repeat(2,340px);
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }

    .title {
        &_fz48 {
            font-size: 28px;
        }
        &_fz36 {
            font-size: 36px;
        }
    }
    .grid-container {
        grid-template: 400px auto auto / 100%;
    }
    .aboutMe {
        padding-top: 40px;
        
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2,260px);
            gap: 20px;
        }
        &__items {
            grid-template-columns: 40px 200px;
        }
    }
    .resume {
        &__wrapper {
        grid-template-columns: 540px;
        row-gap: 40px;
        }
        &__head {
            padding-left: 43px;
            &:after {
                width: 43px;
            }
        }
    }
    .skills {
        &__content {
            grid-template-columns: repeat(2,264px);
            gap: 12px;
            padding: 60px 0px 120px 0px;
        }
        &__wrapper {
            grid-template-columns: repeat(2,252px);
            column-gap: 35px;
    }
}

@media (max-width: 577px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
    }
    }

    .hamburger {
        right: 20px;
    }

    .menu  {
        &__block {
            width: 250px;
            padding-top: 130px;
            padding-left: 20px;
        }
        
    }

    .promo {
        background: url('../img/Background.jpg') no-repeat 57%/cover;
        &__btns {
            margin-top: 35px;
        }
    }

    .title {
        &_fz36 {
            font-size: 24px;
            line-height: 36px;
        }
    }

    .grid-container {
        grid-template: 340px auto auto / 100%;
        gap: 20px;
    }
    .aboutMe {
        &__skills {
            grid-template-columns: 100%;
            grid-auto-rows: minmax(115px,auto);
        }
        &__subtitle {
            padding-bottom: 14px;
        
            
        }
        
    }
    .title__section-title {
        margin-bottom: 15px;
        font-size: 24px;
        line-height: 36px;
        margin-top: 20px;
    }
    .resume {
        &__item {
            padding-top: 10px;
            &:after {
                height: calc(100% +16px);
                top: -50px;  
            }
        }
        &__wrapper {
            margin-top: 40px;
            grid-template-columns: 300px;
        }
        &__content {
            margin: 0 8px;
        }
        &__column {
            margin-right: 20px;
        }
    }
    ul {
        padding-top: 35px;
    }
}
    
}
